.*.swp
.*.cmd
*.ko
*.o
*.c.*
*.h.*
*.o.*
*.symvers
*.pem
*.pyc
*.db
modules.order
.DS_Store
*.mod.c
.tmp_versions
*~
config.h
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
.deps
Makefile
Makefile.in
aclocal.m4
arg
gen_gate_config
autom4te.cache
compile
pulled
results
conf/main-gate*.conf

